/* GENERAL */

body{
	margin: 0px;
}

#contenu-site {
	padding: 0px 0px 20px 0px;
}

.text {
	padding: 30px 0px 30px 0px;
}

.btn-acc {
	padding: 30px 0px 30px 0px;
}

p {
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
}

textarea {
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
} 



/* OPTION CSS */

.text1 {
	font-size: 16px;
}

.text2 {
	font-size: 18px;
}

.text3 {
	font-size: 22px;
}

.text4 {
	font-size: 24px;
}

.text5 {
	font-size: 26px;
}

.text6 {
	font-size: 30px;
}

.text7 {
	font-size: 32px;
}

.text8 {
	font-size: 36px;
}

.text9 {
	font-size: 40px;
}

.gras {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.soulignes {
	text-decoration: underline;
}

.nosoulignes {
	text-decoration: none;
}

.police {
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
}

.noir {
	color: black;
}

.blanc {
	color: white;
}

.gris {
	color: gray;
}

.bleu {
	color: blue;
}

.rouge {
	color: red;
}

.eau {
	color: aqua;
}

.fuchia {
	color: fuchsia;
}		

.vert {
	color: green;
}	

.citron {
	color: lime;
}	

.maron {
	color: maroon;
}

.marine {
	color: navy;
}	

.olive {
	color: olive;
}	

.pourpre {
	color: purple;
}

.argent {
	color: silver;
}	

.sarcelle {
	color: teal;
}	

.jaune {
	color: yellow;
}	

.rose {
	color: pink;
}

.color_text {
	color: #3498DB;
}

.color_text_clair {
	color: #85C1E9;
}

.maj {
	text-transform: uppercase;
}

.min {
	text-transform: lowercase;
}



/* HEADER */

header {
	background-image: url("../IMG/background-accueil.webp");		
    background-repeat: round;
	margin-bottom: 190px;
	padding-top: 30px;
	padding-bottom: 20px;
	width: 100%;
}

header.header-2 {
	background-image: none;		
	background-color: #3498DB;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

div#tete-site {
	display: flex;
}

div#tete-site div.titre-site {
	width: 50%;
}

div#tete-site nav.menu-nav {
	margin-left: 0px;
    margin-right: 0px;
	width: 50%;
	padding-right: 30px;
}

div.titre-site p {
	text-align: left;
}

p.titre-site {
	margin-left: 20px;
	margin-top: 0px;
    margin-bottom: 0px;
}

nav.menu-nav ul li.btn {
	list-style-type: none;
	display: inline-block;
}

nav.menu-nav ul li.btn a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;		
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 16px;
}

nav.menu-nav ul li.btn a:hover {
	text-decoration: none;
	opacity: 0.6;	
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	transition: 0.5s all;
	font-size: 16px;
}

nav.menu-nav ul li.btn-active {
	list-style-type: none;
	display: inline-block;
}

nav.menu-nav ul li.btn-active a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;		
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	border-radius: 25px;
	background-color: transparent;
	border: 2px solid #fff;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 16px;
}

nav.menu-nav ul li.btn-active a:hover {
	text-decoration: none;
	color: #3498DB;	
	background-color: #fff;
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	border-radius: 25px;
	transition: 0.5s all;
	border: 2px solid #fff;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 16px;
}

nav.menu-acc ul li.btn {
	list-style-type: none;
	display: inline-block;
}

nav.menu-acc ul li.btn a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
    padding-bottom: 10px;		
	border-radius: 25px;
	background-color: transparent;
	border: 2px solid #fff;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

nav.menu-acc ul li.btn a:hover {
	text-decoration: none;
	color: #3498DB;	
	background-color: #fff;
	border-radius: 25px;
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	transition: 0.5s all;
	border: 2px solid #fff;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}



/* ACCUEIL */

section.accueil {
	margin-top: 220px;
	height: 620px;
	padding-bottom: 10px;
}

section.info {
	margin-bottom: 190px;
	padding-top: 10px;
    padding-bottom: 10px;
}

section.entreprise {
	margin-bottom: 190px;
}

section.portfolio {
    margin-bottom: 160px;
}

section.equipe {
    margin-bottom: 220px;
}

section.contact {
	padding: 10px;
	height: auto;
    width: 900px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
	border: 5px solid #3498DB;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 8px 9px 10px #aaa;
}

section.hebergement {
	margin-bottom: 190px;
	padding-top: 10px;
    padding-bottom: 10px;
}

div.accueilcontent {
	margin-left: auto;
	margin-right: auto;
}

div.entreprisecontent {
	margin-left: auto;
    margin-right: auto;
    width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

div.grid-service {
	width: 1260px;
    margin-left: auto;
    margin-right: auto;
	display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-column-gap: 30px;
    grid-gap: 30px;
}

div.service {
    width: 400px;
	padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 8px 9px 10px #aaa;
}

div.portfolio {
	width: 424px;
}

div.portfolio div {
	width: 420px;
    padding-top: 20px;
	padding-bottom: 20px;
	border: 2px solid #3498DB;
	border-radius: 20px;
}

td {
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	padding: 10px;
	border-top: 1px solid #F2F3F4;
	border-bottom: 1px solid #F2F3F4;
}

table {
	border-collapse: collapse;
}

tr.ligne-table {
	height: 50px;	
	color: black;
	font-family: Arial, sans-serif;	
}

td.case-table {
	height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;	
    padding-right: 30px;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
}

a.btn-ctt {
	text-decoration: none;
	color: #3498DB;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
    padding-bottom: 10px;		
	border-radius: 25px;
	background-color: #fff;
	border: 2px solid #3498DB;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

a.btn-ctt:hover {
	text-decoration: none;
	color: #fff;	
	background-color: #3498DB;
	border-radius: 25px;
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	transition: 0.5s all;
	border: 2px solid #3498DB;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

img.imgerror4041 {
	vertical-align: middle;
}

img.imgerror5001 {
	vertical-align: middle;
}

img.imgerror5041 {
	vertical-align: middle;
}

p.texterror4041 {
	font-size: 36px;
	margin-left: 50px;
	font-weight: bold;
}

p.texterror4042 {
	font-size: 18px;
	margin-left: 50px;
	font-weight: bold;
} 

p.texterror5001 {
	font-size: 36px;
	margin-left: 50px;
	font-weight: bold;
}

p.texterror5002 {
	font-size: 18px;
	margin-left: 50px;
	font-weight: bold;
} 

p.texterror5041 {
	font-size: 36px;
	margin-left: 50px;
	font-weight: bold;
}

p.texterror5042 {
	font-size: 18px;
	margin-left: 50px;
	font-weight: bold;
} 

div.grid-serveur {
	width: 1260px;
    margin-left: auto;
    margin-right: auto;
	display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-column-gap: 30px;
    grid-gap: 30px;
}

div.serveur {
    width: 400px;
	padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 8px 9px 10px #aaa;
}



/* COOKIE */

section.btn-cookies a {
	list-style-type: none;
	display: inline-block;
}

section.btn-cookies a {
	text-decoration: none;
	color: #001FFF;		
	border-radius: 25px;
	background-color: #fff;
	padding: 10px;
	border: 3px solid #001FFF;
}

section#btn-cookies a:hover {
	text-decoration: none;	
	color: #fff;	
	background-color: #FF0044;
	border-radius: 25px;
	padding: 10px;
	transition: 0.5s all;
	border: 3px solid #001FFF;
	cursor: pointer;
}

div.cookie-quest {
	background-color: #5f5f5f;
	padding: 20px 10px 20px 10px;
}

p.text-cookie {
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	color: #fff;
}

form.form-cookies p {
	display: inline-block;
}

input#btn-valider-cookie {
	text-decoration: none;
	color: #3498DB;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
    padding-bottom: 10px;		
	border-radius: 25px;
	background-color: #fff;
	border: 2px solid #3498DB;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

input#btn-valider-cookie:hover {	
	color: #fff;	
	background-color: #3498DB;
	border-radius: 25px;
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	transition: 0.5s all;
	border: 2px solid #3498DB;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
	cursor: pointer;
}

input#refuser-cookie {
	text-decoration: none;
	color: #3498DB;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
    padding-bottom: 10px;		
	border-radius: 25px;
	background-color: #fff;
	border: 2px solid #3498DB;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

input#refuser-cookie:hover {	
	color: #fff;	
	background-color: #3498DB;
	border-radius: 25px;
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	transition: 0.5s all;
	border: 2px solid #3498DB;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
	cursor: pointer;
}



/* INFORMATION */

div.card {
	width: 250px;
	padding: 25px;
	border: 2px solid #3498DB;
	border-radius: 25px;
}

div.card:hover {
	cursor: pointer;
}

h2.informations {
	margin-top: 20px;
	margin-bottom: 0px;
}

h4.informations {
	margin-top: 0px;
	margin-bottom: 20px;
	font-weight: normal;
}

img.informations {
	border-radius: 100%;
	transition: all .3s;
}

div.icon a {
	margin: 10px;
}

div.icon {
	display: none;
}

i {
	color : #3498DB;
}

div.card:hover div.icon {
	display: block;
	transition: all 4s;
}



/* FORMULAIRE */

input#btn-valider {
	text-decoration: none;
	color: #3498DB;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
    padding-bottom: 10px;		
	border-radius: 25px;
	background-color: #fff;
	border: 2px solid #3498DB;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

input#btn-valider:hover {	
	color: #fff;	
	background-color: #3498DB;
	border-radius: 25px;
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	transition: 0.5s all;
	border: 2px solid #3498DB;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
	cursor: pointer;
}

input#identifiant {
	border: 1px solid #E5E7E9;
	background-color: #E5E7E9;
	border-radius: 3px;
	padding: 3px;
}

input#prenom {
	border: 1px solid #E5E7E9;
	background-color: #E5E7E9;
	border-radius: 3px;
	padding: 3px;
}

input#nom {
	border: 1px solid #E5E7E9;
	background-color: #E5E7E9;
	border-radius: 3px;
	padding: 3px;
}

input#pseudo {
	border: 1px solid #E5E7E9;
	background-color: #E5E7E9;
	border-radius: 3px;
	padding: 3px;
}

input#email {
	border: 1px solid #E5E7E9;
	background-color: #E5E7E9;
	border-radius: 3px;
	padding: 3px;
}

input#email {
	background-image: url('../IMG/email-img.png');
	background-repeat: no-repeat;
	background-position: 2px 3px;
	background-size: 15px;
	padding-left: 27px;
}

input#mdp {
	border: 1px solid #E5E7E9;
	background-color: #E5E7E9;
	border-radius: 3px;
	padding: 3px;
}

input#mdp {
	background-image: url('../IMG/mdp-img.png');
	background-repeat: no-repeat;
	background-position: 2px 3px;
	background-size: 15px;
	padding-left: 27px;
}

input#telephone {
	border: 1px solid #E5E7E9;
	background-color: #E5E7E9;
	border-radius: 3px;
	padding: 3px;
}

a.menu-acc {
	list-style-type: none;
	display: inline-block;
}

a.menu-acc {
	text-decoration: none;
	color: #fff;		
	margin-right: 2px;
    margin-left: 2px;
	border-radius: 25px;
	background-color: transparent;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid #fff;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

a.menu-acc:hover {
	color: #3498DB;	
	margin-right: 2px;
    margin-left: 2px;
	background-color: #fff;
	border-radius: 25px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	transition: 1.5s all;
	border: 2px solid #fff;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

a.btn-acc {
	list-style-type: none;
	display: inline-block;
}

a.btn-acc {
	text-decoration: none;
	color: #3498DB;		
	margin-right: 2px;
    margin-left: 2px;
	border-radius: 25px;
	background-color: transparent;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid #3498DB;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

a.btn-acc:hover {
	color: #fff;	
	margin-right: 2px;
    margin-left: 2px;
	background-color: #3498DB;
	border-radius: 25px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	transition: 1.5s all;
	border: 2px solid #3498DB;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}



/* CONTACT */

nav.btn-ctt ul li.btn {
	list-style-type: none;
	display: inline-block;
}

nav.btn-ctt ul li.btn a {
	text-decoration: none;
	margin-left: 2px;
	margin-right: 2px;
	color: #3498DB;		
	border-radius: 25px;
	background-color: #fff;
	padding: 10px;
	border: 2px solid #3498DB;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

nav.btn-ctt ul li.btn a:hover {
	margin-left: 2px;
	margin-right: 2px;
	color: #fff;	
	background-color: #3498DB;
	border-radius: 25px;
	padding: 10px;
	transition: 0.5s all;
	border: 2px solid #3498DB;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

input.btn-valider-ctt {
	background-image: url("../IMG/send.png");
	background-position: 82px;
	background-repeat: no-repeat;
	text-decoration: none;
	color: #3498DB;
	padding-left: 20px;
	padding-right: 45px;
	padding-top: 10px;
    padding-bottom: 10px;		
	border-radius: 25px;
	background-color: #fff;
	border: 2px solid #3498DB;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

input.btn-valider-ctt:hover {	
	background-image: url("../IMG/send_white.png");
	background-position: 82px;
	background-repeat: no-repeat;
	text-decoration: none;
	color: #fff;
	padding-left: 20px;
	padding-right: 45px;
	padding-top: 10px;
    padding-bottom: 10px;		
	border-radius: 25px;
	background-color: #3498DB;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
	transition: 1.5s;
	cursor: pointer;
}

input.btn-valider-ctt-ok {
	background-image: url("../IMG/send_ok.png");
	background-position: 82px;
	background-repeat: no-repeat;
	text-decoration: none;
	color: #fff;
	padding-left: 20px;
	padding-right: 45px;
	padding-top: 10px;
    padding-bottom: 10px;		
	border-radius: 25px;
	background-color: #48C9B0;
	border: 2px solid #48C9B0;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

textarea {
	border: 2px solid #3498DB;
	background-color: #fff;
	margin-right: 5px;
    margin-left: 5px;
	border-radius: 15px;
	padding: 15px;
	width: 426px;
	height: 100px;
	font-family: 'Work Sans', 'Lato', Arial, sans-serif;
}

input#prenom-ctt {
	border: 2px solid #3498DB;
	background-color: #fff;
	margin-right: 5px;
    margin-left: 5px;
	border-radius: 15px;
	padding: 15px;
	width: 426px;
	height: 26px;
}

input#nom-ctt {
	border: 2px solid #3498DB;
	background-color: #fff;
	margin-right: 5px;
    margin-left: 5px;
	border-radius: 15px;
	padding: 15px;
	width: 426px;
	height: 26px;
}

input#email-ctt {
	border: 2px solid #3498DB;
	animation: 1.5s;
	background-color: #fff;
	margin-right: 5px;
    margin-left: 5px;
	border-radius: 15px;
	padding: 15px;
	width: 426px;
	height: 26px;
}

.btn-valider {
	text-decoration: none;
	color: #001FFF;	
	background-color: #fff;
	padding: 10px;
	border-radius: 20px;
	border: 3px solid #001FFF;
	font-family: 'Nunito Sans', 'Lato', Arial, sans-serif;
}

.btn-valider:hover {
	color: #fff;	
	background-color: #001FFF;
	padding: 10px;
	transition: 0.5s all;
	border-radius: 20px;
	border: 3px solid #001FFF;
	cursor: pointer;
	font-family: 'Nunito Sans', 'Lato', Arial, sans-serif;
}

.msg-ctt {
	font-size: 14px;
}

.red {
	color: #E80000;
}

.comments {
	color: #E80000;
	font-style: italic;
	font-size: 80%;
}

.etoile {
	color: #E80000;
	font-size: 80%;
}

.merci {
	color: #0EE800;
	font-size: 90%;
}

.contenu-form label {
	font-family: 'Work Sans', 'Lato', Arial, sans-serif;
}

::placeholder {
	color: #A6ACAF;
	font-style: italic;
}

.form-control {
	font-size: 15px;
}

.form-control-m {
	font-size: 15px;
}

.merci {
	font-weight: bold;
}

img.emoji-ctt {
	height: 20px;
	width: 20px;
}



/* FOOTER */

footer {
	background-image: linear-gradient(to right, #43CBFF, #9708CC);
	padding: 20px 10px 20px 10px;
}

div#pied-site div {
	margin-bottom: 40px;
}

a.menu-footer {
	text-decoration: none;
	color: #fff;		
	margin-right: 2px;
    margin-left: 2px;
	border-radius: 25px;
	background-color: transparent;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid #fff;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

a.menu-footer:hover {
	color: #3498DB;	
	margin-right: 2px;
    margin-left: 2px;
	background-color: #fff;
	border-radius: 25px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	transition: 1.5s all;
	border: 2px solid #fff;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

i.fa-facebook {
	color: #fff;
	margin-right: 10px;
}

i.fa-instagram {
	color: #fff;
	margin-left: 10px;
}



/* RESPONSIVE */

@media all and (min-width: 10px) and (max-width: 1390px)
{

/* GENERAL */

div.grid-service {
	width: 830px;
    margin-left: auto;
    margin-right: auto;
	display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-column-gap: 30px;
    grid-gap: 30px;
}

div.entreprisecontent {
    width: 80%;
    display: block;
    grid-column-gap: 30px;
}

div.entreprisecontent h1 {
    text-align: center;
}

}

@media all and (min-width: 10px) and (max-width: 1000px)
{

/* GENERAL */

p,h1,h2,h3,h4,h5,h6,label {
	font-family: 'Arial', sans-serif;
}

.text1 {
	font-size: 20px;
}

.text2 {
	font-size: 24px;
}

.text4 {
	font-size: 28px;
}

.text5 {
	font-size: 30px;
}

.text6 {
	font-size: 32px;
}

.text7 {
	font-size: 34px;
}

.text8 {
	font-size: 36px;
}

.text9 {
	font-size: 38px;
}

.text10 {
	font-size: 40px;
}

div.grid-service {
	width: 400px;
    margin-left: auto;
    margin-right: auto;
	display: grid;
    grid-template-columns: 400px;
    grid-column-gap: 0px;
    grid-gap: 30px;
}

div.pied-site {
	height: 250px;
}

div.accueilcontent {
	margin-top: 220px;
	margin-left: auto;
	margin-right: auto;
}

div.accueilcontent div {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

div.accueilcontent h1,p {
	text-align: center;
}

div#tete-site div.titre-site {
	margin-top: auto;
}

div#tete-site nav.menu-nav {
	margin-left: 0px;
}

div.niveau img {
	width: 150px;
    height: 150px;
}

nav.menu-nav ul {
	padding-left: 0px;
}

div.copyright p {
	height: 28px;
}

div.tchatinsert p {
	height: 100px;
}

div.fonctionnalite {
	display: flex;
	flex-direction: column;
}

div.fonctionnalite div{
	width: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.fonctionnalite div:hover {
	width: 250px;
}

div.entreprisecontent h2 {
	text-align: center;
}

a.menu-acc {
	font-size: 25px;
}

a.menu-acc:hover {
	font-size: 25px;
}

a.btn-acc {	
	font-size: 30px;
	border-radius: 100px;
}

nav.btn-ctt ul li.btn a {
	font-size: 25px;
}

nav.btn-ctt ul li.btn a:hover {
	font-size: 25px;
}

input.btn-valider-ctt {    
    background-position: 160px;
    font-size: 25px;
}

input.btn-valider-ctt:hover {	
    background-position: 160px;
    font-size: 25px;
}

input.btn-valider-ctt-ok {
    background-position: 160px;
    font-size: 25px;
}

textarea {
    width: 436px;
    height: 116px;
	font-size: 25px;
}

input#prenom-ctt {
    width: 436px;
    height: 48px;
	font-size: 25px;
}

input#nom-ctt {
    width: 436px;
    height: 48px;
	font-size: 25px;
}

input#email-ctt {
    width: 436px;
    height: 48px;
	font-size: 25px;
}

}



/* SCROLL ANIMATION */

.reveal-loaded .reveal [class*="reveal-"] {
	opacity: 0!important;
	animation: none!important;
	transition: 0s!important;
}
  
.reveal-loaded [class*="reveal-"]{
	animation: revealAnimation 1s cubic-bezier(.5, 0, 0, 1) both;
}

.reveal-loaded .reveal-2 {
	animation-delay: .1s;
}

.reveal-loaded .reveal-3 {
	animation-delay: .2s;
}

.reveal-loaded .reveal-4 {
	animation-delay: .3s;
}

@media (prefers-reduced-motion: reduce) {
	.reveal-loaded  [class*="reveal-"] {
	  	animation: none!important;
	}
}
  
@keyframes revealAnimation {
	0% {
	opacity: 0;
	transform: translateY(30px);
	}
	100% {
	opacity: 1;
	transform: translateY(0px);
	}
}



/* SCROLLBAR */

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background-color: #E5E7E9;
}

body::-webkit-scrollbar-thumb {
	background-color: #3498DB;
	border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
	transition: 1.5s;
	background-color: #345CDB;
	border-radius: 15px;
	cursor: pointer;
}



/* AUTOTEXT */

.autotext {
	width: fit-content;
	border-right: 0.15em solid #3498DB;
	letter-spacing: 0.05em;
	animation: blink 0.75s step-end infinite;
}

@keyframes blink {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #3498DB;
	}
}



/* TEXT SOULIGN */

.text_soulign {
	padding-left: 10px;
	padding-right: 10px;
	width: fit-content;
	background-color: #2C3E50;
}