/* GENERAL */

body{
	background-color: #17202A;
	margin: 0px;
}

#contenu-site {
	padding: 0px 0px 20px 0px;
}

.text {
	padding: 30px 0px 30px 0px;
}

.btn-acc {
	padding: 30px 0px 30px 0px;
}

p {
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
}

textarea {
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
} 



/* HEADER */

header {
	margin-bottom: 190px;
	padding-top: 30px;
	padding-bottom: 20px;
	width: 100%;
}

header.header-2 {
	background-image: none;		
	background-color: #A0CE4E;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

div#tete-site-1 {
	display: flex;
}

div#tete-site-1 div.titre-site {
	width: 50%;
}

div#tete-site-1 div.titre-site p {
	color: #A0CE4E;
	text-align: left;
}

div#tete-site-1 nav.menu-nav {
	margin-left: 0px;
    margin-right: 0px;
	width: 50%;
	padding-right: 30px;
}

p.titre-site {
	margin-left: 20px;
	margin-top: 0px;
    margin-bottom: 0px;
}

nav.menu-nav ul li.btn {
	list-style-type: none;
	display: inline-block;
}

nav.menu-nav ul li.btn a {
	text-decoration: none;
	font-weight: bold;
	color: #A0CE4E;		
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 16px;
}

nav.menu-nav ul li.btn a:hover {
	text-decoration: none;
	opacity: 0.6;	
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	transition: 0.5s all;
	font-size: 16px;
}

nav.menu-acc ul li.btn {
	list-style-type: none;
	display: inline-block;
}

nav.menu-acc ul li.btn a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
    padding-bottom: 10px;		
	border-radius: 25px;
	background-color: transparent;
	border: 2px solid #fff;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

nav.menu-acc ul li.btn a:hover {
	text-decoration: none;
	color: #A0CE4E;	
	background-color: #fff;
	border-radius: 25px;
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	transition: 0.5s all;
	border: 2px solid #fff;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

nav.menu-nav-2 {
	width: fit-content;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

nav.menu-nav-2 ul li.btn {
	list-style-type: none;
	display: inline-block;
}

nav.menu-nav-2 ul li.btn a {
	text-decoration: none;
	font-weight: bold;
	color: #A0CE4E;		
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 16px;
}

nav.menu-nav-2 ul li.btn a:hover {
	text-decoration: none;
	opacity: 0.6;	
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	transition: 0.5s all;
	font-size: 16px;
}

li.btn-active {
	list-style-type: none;
	display: inline-block;
}

li.btn-active a {
	text-decoration: none;
	font-weight: bold;
	color: #A0CE4E;		
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	border-radius: 25px;
	background-color: transparent;
	border: 2px solid #A0CE4E;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 16px;
}

li.btn-active a:hover {
	text-decoration: none;
	color: #A0CE4E;	
	background-color: #fff;
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	border-radius: 25px;
	transition: 0.5s all;
	border: 2px solid #fff;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 16px;
}



/* ACCUEIL */

section.accueil {
	margin-top: 220px;
	height: 620px;
	padding-bottom: 10px;
}

div.accueilcontent {
	margin-left: auto;
	margin-right: auto;
}

section.info {
	margin-bottom: 220px;
}

div.grid-service {
	width: 1260px;
	margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
	display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-column-gap: 30px;
    grid-gap: 30px;
}

div.service {
    width: 400px;
	padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 8px 9px 10px #17A589;
}

div.service h4 {
	width: 80%;
}

section.a-propos {
	width: 70%;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 220px;
	margin-bottom: 220px;
}

div.a-propos {
	display: grid;
	grid-template-columns: 180px 1fr;
	column-gap: 60px;
}



/* CONTACT */

section.contact {
	width: 80%;
    max-width: 900px;
	height: auto;
	padding: 10px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
	border: 5px solid #A0CE4E;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 8px 9px 10px #17A589;
}

nav.btn-ctt ul li.btn {
	list-style-type: none;
	display: inline-block;
}

nav.btn-ctt ul li.btn a {
	text-decoration: none;
	margin-left: 2px;
	margin-right: 2px;
	color: #A0CE4E;		
	border-radius: 25px;
	background-color: #17202A;
	padding: 10px;
	border: 2px solid #A0CE4E;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

nav.btn-ctt ul li.btn a:hover {
	margin-left: 2px;
	margin-right: 2px;
	color: #17202A;	
	background-color: #A0CE4E;
	border-radius: 25px;
	padding: 10px;
	transition: 0.5s all;
	border: 2px solid #A0CE4E;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

input.btn-valider-ctt {
	text-decoration: none;
	color: #A0CE4E;
	margin-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
    padding-bottom: 10px;		
	border-radius: 25px;
	background-color: #17202A;
	border: 2px solid #A0CE4E;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

input.btn-valider-ctt:hover {	
	text-decoration: none;
	color: #17202A;
	margin-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
    padding-bottom: 10px;		
	border-radius: 25px;
	background-color: #A0CE4E;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
	transition: 1.5s;
	cursor: pointer;
}

textarea {
	border: 2px solid #A0CE4E;
	background-color: #17202A;
	color: #A0CE4E;
	margin-right: 5px;
    margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 15px;
	padding: 15px;
	width: 70%;
	max-width: 426px;
	height: 100px;
	font-family: 'Work Sans', 'Lato', Arial, sans-serif;
}

input#prenom-ctt {
	border: 2px solid #A0CE4E;
	background-color: #17202A;
	color: #A0CE4E;
	margin-right: 5px;
    margin-left: 5px;
	margin-top: 35px;
	margin-bottom: 15px;
	border-radius: 15px;
	padding: 15px;
	width: 70%;
	max-width: 426px;
	height: 26px;
}

input#nom-ctt {
	border: 2px solid #A0CE4E;
	background-color: #17202A;
	color: #A0CE4E;
	margin-right: 5px;
    margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 15px;
	padding: 15px;
	width: 70%;
	max-width: 426px;
	height: 26px;
}

input#email-ctt {
	border: 2px solid #A0CE4E;
	background-color: #17202A;
	color: #A0CE4E;
	margin-right: 5px;
    margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 15px;
	padding: 15px;
	width: 70%;
	max-width: 426px;
	height: 26px;
}

.msg-ctt {
	font-size: 14px;
}

.red {
	color: #C0392B;
}

.comments {
	color: #C0392B;
	font-style: italic;
	font-size: 80%;
}

.etoile {
	color: #C0392B;
	font-size: 80%;
}

.merci {
	color: #0EE800;
	font-size: 90%;
}

.contenu-form label {
	font-family: 'Work Sans', 'Lato', Arial, sans-serif;
}

::placeholder {
	color: #A6ACAF;
	font-style: italic;
}

.form-control {
	font-size: 15px;
}

.form-control-m {
	font-size: 15px;
}

.merci {
	font-weight: bold;
}



/* FOOTER */

footer {
	background-color: #A0CE4E;
	padding: 20px 10px 20px 10px;
}

div#pied-site div {
	margin-bottom: 40px;
}

a.menu-footer {
	text-decoration: none;
	color: #fff;		
	margin-right: 2px;
    margin-left: 2px;
	border-radius: 25px;
	background-color: transparent;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid #fff;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

a.menu-footer:hover {
	color: #A0CE4E;	
	margin-right: 2px;
    margin-left: 2px;
	background-color: #fff;
	border-radius: 25px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	transition: 1.5s all;
	border: 2px solid #fff;
	font-family: 'Quicksand', Arial, sans-serif;
	font-display: swap;
	font-size: 14px;
}

a.reseau-social {
	width: fit-content;
	height: fit-content;
	margin-left: 10px;
	margin-right: 10px;
}



/* RESPONSIVE */

@media all and (min-width: 10px) and (max-width: 1390px)
{

/* GENERAL */

div.grid-service {
	width: 830px;
    margin-left: auto;
    margin-right: auto;
	display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-column-gap: 30px;
    grid-gap: 30px;
}

nav.menu-nav-2 ul li.btn, nav.menu-nav-2 ul li.btn-active {
	width: fit-content;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

}

@media all and (min-width: 10px) and (max-width: 1000px)
{

div#tete-site-1 {
	width: fit-content;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div#tete-site-1 div.titre-site {
	margin-top: auto;
}

div#tete-site-1 nav.menu-nav {
	width: fit-content;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

nav.menu-nav ul {
	padding: 0px;
}

nav.menu-nav-2 ul {
	padding: 0px;
}

div.grid-service {
	width: 400px;
    margin-left: auto;
    margin-right: auto;
	display: grid;
    grid-template-columns: 400px;
    grid-column-gap: 0px;
    grid-gap: 30px;
}

div.pied-site {
	height: 250px;
}

div.accueilcontent {
	margin-top: 220px;
	margin-left: auto;
	margin-right: auto;
}

div.accueilcontent div {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

div.accueilcontent h1,p {
	text-align: center;
}

a.menu-acc {
	font-size: 25px;
}

a.menu-acc:hover {
	font-size: 25px;
}

a.btn-acc {	
	font-size: 30px;
	border-radius: 100px;
}

nav.btn-ctt ul li.btn a {
	font-size: 25px;
}

nav.btn-ctt ul li.btn a:hover {
	font-size: 25px;
}

input.btn-valider-ctt {    
    background-position: 160px;
    font-size: 25px;
}

input.btn-valider-ctt:hover {	
    background-position: 160px;
    font-size: 25px;
}

input.btn-valider-ctt-ok {
    background-position: 160px;
    font-size: 25px;
}

textarea, input#prenom-ctt, input#nom-ctt, input#email-ctt {
	font-size: 14px;
}

}



/* SCROLL ANIMATION */

.reveal-loaded .reveal [class*="reveal-"] {
	opacity: 0!important;
	animation: none!important;
	transition: 0s!important;
}
  
.reveal-loaded [class*="reveal-"]{
	animation: revealAnimation 1s cubic-bezier(.5, 0, 0, 1) both;
}

.reveal-loaded .reveal-2 {
	animation-delay: .1s;
}

.reveal-loaded .reveal-3 {
	animation-delay: .2s;
}

.reveal-loaded .reveal-4 {
	animation-delay: .3s;
}

@media (prefers-reduced-motion: reduce) {
	.reveal-loaded  [class*="reveal-"] {
	  	animation: none!important;
	}
}
  
@keyframes revealAnimation {
	0% {
	opacity: 0;
	transform: translateY(30px);
	}
	100% {
	opacity: 1;
	transform: translateY(0px);
	}
}



/* SCROLLBAR */

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background-color: #5D6D7E;
}

body::-webkit-scrollbar-thumb {
	background-color: #A0CE4E;
	border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
	transition: 1.5s;
	background-color: #345CDB;
	border-radius: 15px;
	cursor: pointer;
}



/* AUTOTEXT */

.autotext {
	width: fit-content;
	border-right: 0.15em solid #A0CE4E;
	letter-spacing: 0.05em;
	animation: blink 0.75s step-end infinite;
}

@keyframes blink {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #A0CE4E;
	}
}



/* TEXT SOULIGN */

.text_soulign {
	padding-left: 10px;
	padding-right: 10px;
	width: fit-content;
	background-color: #2C3E50;
}